$shuttle_grey:#5f6672;
$cadet_blue: #a9b2c3;
$lavender: #b57edc;
$sunglo: #e06c75;
$fountain_blue: #56b6c2;
$cornflower_lue: #61afef;
$olivine: #98c379;
$harvest_gold: #e5c07b;
$iron: #d4d7d9;
$whiskey: #d19a66;

$color_bg: #21242D;
$color_bg_darker: #191921;